<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/example3/addperson}" th:object="${person}" method="post">
		<p><input type="text" th:field="*{name}"/></p>
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nombre con error</p>
		<p><input type="number" th:field="*{age}"/></p>
		<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Edad con error</p>
		<p><input type="submit" value="enviar"/></p>
	</form>
</body>
</html>